*{
    margin: 0;
    padding:0;
}

.top{
width: 100%;
height: 40px;
background-color: #00142d;
display: flex;
justify-content:center;
align-content: center;

}

.bar{
width: 1200px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-end;
align-content: flex-end;
}

.social-btn{
    width: 20px;
    height: 40px;
    margin-right: 50px;
    background-color: #00142d;
    color: white;
    border:none;
    cursor: pointer;
}
/* nav a{
    margin:auto;
    padding: 10px;
    font-size: 90%;
    text-decoration: none;
    padding-right: 40px;
} */

.navbar a{
    color: white;
    /* margin:auto; */
    padding: 10px;
    font-size: 90%;
    text-decoration: none;
    /* padding-right: 40px; */
}

.top :hover{
    color: 	#007FFF;
    transition: 0.2s;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:center ;
    align-content: center;
    margin-top:12px;
    
}

.menubar{
    width:1200px;
    display: flex;
    flex-direction: row; 

}

.logo{
    width: 200px;
    height: 60px;
    margin-right: 50px;
    align-self: center;
}

.menulist {
    /* align-self:center; */
    flex-grow: 1;
    padding: 15px;
    text-decoration: none;
    color: 	#444444;
    margin:auto;
    height: 60px;
}

.menulist a:hover{
    color:#007FFF ;
    border-bottom: 5px solid #007FFF; 
}
.useforfree-btn{
    margin: 10px;
    padding: 0px 20px;
    border: none;
    text-decoration: none;
    border-radius:20px; 
    color: white;
    background-color:#0066FF;
    cursor: pointer;
}

.useforfree-btn:hover{
    background-color: 	#0044BB;
}

.banner{
    background:url(https://img.shoplineapp.com/media/image_clips/5f069a12dc4d9a00335656c2/original.png?1594268177) no-repeat #172B4D ;
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
.banner-center{
    flex-direction: row;
    width: 1200px;
    display: flex;
}
.banner-pic{
    margin: auto; 
}
.banner-pic img{
    height:auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;

}

.bannertext{
    
    margin:auto;
}

.bannertext h1{
    font-size: 30px;
}

.bannertext h2{
    color: orange;
    font-size: 30px;
    padding-top: 10px;
}

.bannertext p{
    padding: 40px 0px;
    margin-right: 100px;
}

input[type=email]{
    width:52%;
    border: none;
    background-color:transparent;
    padding: 20px 20px;
    display: inline;
    border-bottom: 2px solid white;
    color: white;
}

.freetest{
    margin: 20px 20px;
    padding: 10px;
    width:20%;
    background-color:#0066FF;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    
}

.freetest:hover{
    background-color: 	#0044BB;
}

.first-intro{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-bottom: 80px;
}

.introduction-title{
    width: 1200px;
    display: flex;
    
}

h3{
margin-top:50px;
padding: 30px 0px;
font-size:  30px;
text-align: center;
}

.intoduction-title p{
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.second-introduction{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 150px;
}

.second-introduction-center{
    width:1200px;
    display: flex;
    flex-direction: row;
}
.second-introduction-text{
    width:600px;
}
h4{
    font-size: 30px;
    margin: 50px 0px;
}

.second-introduction-text p{
    font-size:15px;
    margin: 30px 0px;
}

.second-introduction-list{
    list-style-type:none;
    list-style-image: url(https://cdn-icons-png.flaticon.com/16/1828/1828640.png);
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.second-introduction-list li{
    width: 300px;
    margin-bottom: 10px;
    
}

.third-introduction{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 150px;
    
}

.third-introduction-center{
    width:1200px;
    display: flex;
    flex-direction: row;
}

.third-introduction-text{
    width:600px;
}

.third-introduction-text p{
    font-size:15px;
    margin: 30px 0px;
}

.third-introduction-list{
    list-style-type:none;
    list-style-image: url(https://cdn-icons-png.flaticon.com/16/1828/1828640.png);
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.third-introduction-list li{
    width: 300px;
    margin-bottom: 10px;
}

.introduction-pic{
    width:600px;
}

.introduction-pic img{
    width:600px;
}

.forth-introduction{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 150px;
    
}

.forth-introduction-center{
    width:1200px;
    display: flex;
    flex-direction: row;
}

.forth-introduction-text{
    width:600px;
}

.forth-introduction-text p{
    font-size:15px;
    margin: 30px 0px;
}

.forth-introduction-list{
    list-style-type:none;
    list-style-image: url(https://cdn-icons-png.flaticon.com/16/1828/1828640.png);
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.forth-introduction-list li{
    width: 300px;
    margin-bottom: 10px;
}

.fifth-introduction{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 150px;
    
}

.fifth-introduction-center{
    width:1200px;
    display: flex;
    flex-direction: row;
}

.fifth-introduction-text{
    width:600px;
}

.fifth-introduction-text p{
    font-size:15px;
    margin: 30px 0px;
}

.fifth-introduction-list{
    list-style-type:none;
    list-style-image: url(https://cdn-icons-png.flaticon.com/16/1828/1828640.png);
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.fifth-introduction-list li{
    width: 300px;
    margin-bottom: 10px;
}

.other-func-service{
    width:100%;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 150px;
    background-color:#F0F0F0;
    padding:80px 0px; 
}

.other-func-service-center{
    width:1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.information-details{
    width: 360px;
    align-self: center;
    text-align: center;
    margin: 20px; 
    
}

h5{
    width: 1200px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

h6{
    font-size: 20px;
    font-weight: normal;
    margin: 10px;
}

.information-details img{
    width: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 50%;    
}

.brand-recommend{
    width: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 50px;
}

.brand-recommend-center{
    width: 1200px;
    /* display: flex; */
    flex-direction: row;
}

.brand-recommend-center h6{
    width: 1200px;
    font-size: 30px;
    text-align: center;
    color:#0066FF;
}

.brand-recommend-center span{
    width: 1200px;
    font-size: 30px;
    text-align: center;
    color: black;
}

.brands-flex{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
    cursor: pointer;
}

.brands-flex-item{
    margin-right: 100px;
}

.brands-flex-item img{
    width:150px;
    height:150px;
    padding: 2px;
    margin: 2px;
}

.brands-flex-item:hover{
    border-bottom: 6px solid #0066FF;
}

.brand-intro{
    display: flex;
    margin-top: 20px;
}
.brand-intro-text{
    font-size: 10px;
}

.brand-intro-text p{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 200px;
}

.brand-intro-text span{
    font-size: 10px; 
}

.footer-map{
    width: 100%;
    background:url(https://img.shoplineapp.com/media/image_clips/5f069a1114b23b004875a301/original.png?1594268176) no-repeat #172B4D;
    justify-content:center;
    align-content:center;
    display:flex;
    color:white;
}

.footer-map-center{
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin:auto;
    padding-left: 200px;
}

.footer-map-text h6{
    font-size: 30px;
    margin-bottom: 50px;
}

.freefor14days{
    padding: 10px;
    width:30%;
    background-color:#0066FF;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.freefor14days:hover{
    background-color: 	#0044BB;
}

.footer-list{
    width: 100%;
    justify-content: center;
    align-content: center;
    display:flex;
    background-color: #00142D;
    color: #748094;
    padding-top: 50px;
}

.footer-list-center{
    width:1200px;
    display: flex;
    flex-direction: row;
}

.footer-list-order{
    margin: 15px;
    
}

.footer-list-order-point{
    list-style-type:none;
    margin: 20px;
    padding: 20px 0px;
    cursor: pointer;
}

.footer-list-order-point li:hover{
    color:white;
}

.footer-list-order-point li{
    padding: 10px 0px;
}

.footer-list-order h6{
    font-size: 20px;
    margin-bottom: 40px;
    color: white;
}

.button{
    width:100%;
    justify-content:center;
    align-content: center;
    display: flex;
    background-color: #00142D;
    /* padding: 5px 0px; */
}
.button-col{
    width:1200px;
    display: flex;
    justify-content: flex-end;
    
}

.Covid19{
    margin-right: 100px;
    padding:  10px 50px;
    font-size: 15px;
    cursor: pointer;
    background-color:#E8FFF5 ;
}

.Covid19:hover{
    background-color:	#E0E0E0;
}

.last-bar{
    width: 100%;
    justify-content: center;
    align-content: center;
    display:flex;
    background-color:#00142D ;
    color:white;
    padding: 100px 0px;
}

.last-bar-center{
    width: 1200px;
    display: flex;
}

.other-infor a{
    color:white;
    text-decoration: none;
    margin-right: 2px;
    font-size: 10px;    
}

.other-infor a:hover{
    color:#0044BB;
}

.other-app-button{
    margin-left: 200px;
    flex-grow: 1;
}
.app{
    margin:  2px 15px;
    padding:  2px 5px;
    border-radius: 100%;
    background-color: #172B4D;
    color: white;
    cursor: pointer;
}
.app:hover{
    color:#0044BB;
}

.last-bar-text{
    font-size: 10px;
    color: #748094;
}
