*{
    margin:0;
    padding: 0; 
}

.main-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #8E8E8E;
    position: fixed;
    padding: 10px 20px;
    z-index: 1;
}

.main-btn ~ .main-header{
    background-color: greenyellow;
    transition: 3s;
}

.main-nav{
    position:absolute;
    display: none;
    width:100%;
    left:0;
    top:100%;
    background-color: white;
    z-index: 1;
}

.main-nav a{
    display: block;
    text-decoration: none;
    font-size: 15px;
    color:#000;
    padding: 20px;
}

.menu-btn{
    width:40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 10px;
    right:60px;
    background-color: #000;
}


.menu-btn:hover{
    cursor: pointer;
}

.menu-btn::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 9px;
    width: 22px;
    background-color: white ;
    top:0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px white,0px -8px 0px white;
}

#menu-control{
    display: none;
}

#menu-control:checked ~ .header .main-header .main-nav{
    display: block;
}

.main-region{
    width: 100%;
    display: flex;
    background-color: #F0F0F0;
    padding-top: 80px;
    justify-content: center;
}

.left{
    width:41.66667%;
    padding: 20px;
}

.left img{
    position: sticky;
    width: 100%;
    top:50px;

}

.right{
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    width: 58.33333%;
    padding:20px 0px ; 
    
}

.card{
    width: 22.33333%;
    padding: 0px 10px;
    text-align: center;
    font-size: 12px;
}

.card img{
    width: 100%;
}

h1{
    font-size: 10px;
    color: #00f;
    position: relative;
}
h1::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 0px;
    width: 10%;
    background-color: #00f;
    top:0;
    bottom: 0;
    margin: auto;
}

h1::after{
    content: '';
    position: absolute;
    height: 2px;
    right: 0px;
    width: 10%;
    background-color: #00f;
    top:0;
    bottom: 0;
    margin: auto;
}

p{
    position: relative;
}

p::before{
    content: '';
    position: absolute;
    height: 4px;
    left: 0px;
    width: 2px;
    border-radius: 100%;
    background-color: red;
    top:0;
    bottom: 0;
    margin: auto;
}

.background{
    background-color: red;
    height: 1000px;
}


@media screen and (min-width:768px){

    .main-nav{
        position: relative;
        width: 100%;
        left:55%;
        top:0;
        background-color: transparent;
        display: block;
        
    }

    .main-nav a{
        display:inline-block;
        margin: 0px 8px;
        text-decoration: none;
        font-size: 20px;
        color: #000;
        padding: 0px 2px 10px;
    }

    .menu-btn{
        display: none;
    }

    .left{
        width:33.33333%;
    }
    .right{
        width:66.66667%;
    }

    .card{
        width: 20%;
        font-size: 20px;
        padding-bottom: 20px;
    }

    h1{
        font-size: 20px;
    }

    h1::before{
        width:15%;
    }

    h1::after{
        width:15%;
    }

    p::before{
        width: 6px;
        left: 5px;
    }


}

@media screen and (min-width:992px){
    .main-nav{
        position: relative;
        width: 100%;
        left:65%;
        top:0;
        background-color: transparent;
        display: block;
        
    }

    .main-nav a{
        display:inline-block;
        margin: 0px 8px;
        text-decoration: none;
        font-size: 20px;
        color: #000;
        padding: 0px 2px 10px;
    }

    .menu-btn{
        display: none;
    }

    .left{
        width:25%;
    }
    .right{
        width:75%;
    }

    .card{
        width: 15%;
        font-size: 20px;
        padding-bottom: 20px;
    }

    h1{
        font-size: 20px;
    }

    h1::before{
        width:15%;
    }

    h1::after{
        width:15%;
    }

    p::before{
        width: 6px;
        left: 5px;
    }

}

@media screen and (min-width:1200px){

    .main-nav{
        left:70%;
    }

    .left{
        width:16.66667%;
    }
    .right{
        width:83.33333%;
    }

    .card{
        width: 12%;
    }

    

}


