
.title{
    background: url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    position: fixed;
    left:0;

}
.title h1{
    margin: auto;
    text-align: center;
    font-size: 40px;
}

.right{
    width: 100%;
    height: 60vh;
    position: fixed;
    right: 0;
    bottom: -10vh;
    
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btn-group{
    width: 100%;
    position: fixed;
    top:0;
    right: 0;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px; 
    justify-content: flex-end;
    z-index: 0;
}
.btn-h{
    width: 20%;
    background-color: #F0F0F0;
    border-radius: 20px;
    border:none;
    margin: 10px;
    padding: 5px 10px;
    font-size: 10px;
}

.last-bar{
    position: fixed;
    width: 100%;
    right:0;
    bottom:0;   
    background-color: white;
    padding: 20px;
    border-top: 2px solid #F0F0F0;
    display: flex;
    justify-content: space-between;
}

.back{
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    border:none;
    text-decoration: underline;
}

.next{
    position: relative;
    right:0;
    top:0;
    padding:10px 15px;
    width: 20vh;
    border-radius:10px;
    border: none;
    background-color: black;
}

.amenities{
    position: relative;
    top: 5vh;
    margin-left: 50px;
    width: 100%;
    height: 45%;
    z-index: 1;
    overflow-y: scroll;
}

.button{
    width: 90%;
    margin:0px 8px 16px;
    height: 25vh;
    border:1px solid #D0D0D0;
    background-color: white;
    border-radius: 10px;
}

.button:hover{
    border:2px solid black;
}

#swimming-pool:checked ~ .button{
    border:2px solid black;
}

#Massage-bath:checked ~ .button{
    border:2px solid black;
}

#Garden:checked ~ .button{
    border:2px solid black;
}

#Barbeque:checked ~ .button{
    border:2px solid black;
}

#fire-burner:checked ~ .button{
    border:2px solid black;
}

#bowling-ball:checked ~ .button{
    border:2px solid black;
}

#fire-flame:checked ~ .button{
    border:2px solid black;
}

#Outdoor-dining-area:checked ~ .button{
    border:2px solid black;
}

#Sports-equipment:checked ~ .button{
    border:2px solid black;
}

#WiFi:checked ~ .button{
    border:2px solid black;
}

#Television:checked ~ .button{
    border:2px solid black;
}

#Kitchen:checked ~ .button{
    border:2px solid black;
}

#Detergent:checked ~ .button{
    border:2px solid black;
}

#Free-carpark:checked ~ .button{
    border:2px solid black;
}

#Charge-carpark:checked ~ .button{
    border:2px solid black;
}

#Air-con:checked ~ .button{
    border:2px solid black;
}

#Work-Area:checked ~ .button{
    border:2px solid black;
}

#outdoor-bath-cubicle:checked ~ .button{
    border:2px solid black;
}

#Smog-alarms:checked ~ .button{
    border:2px solid black;
}

#Kit-medical:checked ~ .button{
    border:2px solid black;
}

#Carbon-monoxide-alarm:checked ~ .button{
    border:2px solid black;
}

#lock:checked ~ .button{
    border:2px solid black;
}

#Fire-extinguisher:checked ~ .button{
    border:2px solid black;
}

::-webkit-scrollbar {
width: 0px;
}

@media(min-width:744px) {
    .title{
        background: url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png) no-repeat;
        background-size: cover;
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        position: fixed;
        left:0;
    }

    .title h1{
        text-align: center;
        font-size: 50px;
    }


    .right{
        width: 50%;
        height: 100vh;
        position: fixed;
        right: 0;
        bottom: 0;
        overflow: scroll;
    }

    ::-webkit-scrollbar {
        width: 0px;
        }

        .btn-group{
            position: fixed;
            top:0;
            right:0;
            width: 50%;
            background-color: white;
            z-index: 0;
            justify-content: flex-end;
        }

        .btn-h{
            height: 35px;
            width: 20%;
            background-color: #F0F0F0;
            border-radius: 20px;
            border:none;
            margin: 10px;
            padding: 5px 15px;
            font-size: 10px;
        }

        .last-bar{
            position: fixed;
            display: flex;
            justify-content: space-between;
            width: 50%;
            right:0;
            bottom:0;   
            background-color: white;
            padding: 20px;
            border-top: 2px solid #F0F0F0;
        }
        .back{
            position: relative;
            top: 0;
            left: 0;
            background-color: transparent;
            border:none;
            text-decoration: underline;
        }

        .next{
            position: relative;
            right:0;
            top:0;
            padding:10px 15px;
            width: 20vh;
            border-radius:10px;
            border: none;
        }

    .amenities{
        position: fixed;
        top: 20vh;
        margin-left: 50px;
        width: 40%;
        height: 400px;
        z-index: 1;
        overflow-y: scroll;
    }

    .button{
        width: 90%;
        margin:0px 8px 16px;
        height: 25vh;
        border:1px solid #D0D0D0;
        background-color: white;
        border-radius: 10px;
    }

    .button:hover{
        border:2px solid black;
    }
    

}