    .video-banner{
        display: block;
        background-color: black; 
        height: 100vh; 
        width: 100%;
    }

    .video{
        display: block;
        height: 100vh;
        width: 100%;
        /* float: right; */
        position: relative;
        box-sizing: border-box;
        top:0vh;
    }
    .banner-title{
        width: 100%;
        height: 50vh;
        text-align:left;
        position: relative;
        top: -50vh;
        z-index: 1;
        background-color: black;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .text{
        padding: 20px;
        
    }

    .banner-title h1{
        font-size:40px;
        text-align:start;
        /* line-height: 70px; */
        letter-spacing: -0.02em;
        color: white;
        padding-top: 0vh;

        }
    .banner-title p{
        font-size:15px;
        text-align: start;
        color: white;

        }

    .start{
        background-color: 	#F00078;
        padding: 10px 20px ;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 80px;
        display: block;
        width: 90vh;
    }

.btn-quit{
    display: none;
}

.btn-quit:hover{
    color: black;
}

a{
    text-decoration: none !important;
}



@media(min-width:744px){
    .video-banner{
        display: flex;
        background-color: black; 
        height: 100vh; 
        width: 100%;
    }

    .video{
        display: block;
        height: 100%;
        width: 50%;
        float: right;
        box-sizing: border-box;
        top:0;
    }
    .banner-title{
    width: 50%;
    text-align: center;
    position: relative;
    top: 0vh;
    background-color: transparent;
    }

    .text{
        position: relative;
        top:25vh;
    }

    .banner-title h1{
    font-size: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: white;

        }
    .banner-title p{
        font-size:15px;
        text-align: center;
        color: white;

        }

    .start{
        background-color: 	#F00078;
        padding: 10px 20px ;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 80px;
        display: block;
        width: 30vh;
    }

.btn-quit{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 10px 20px;
    position: relative;
    right:-90vh;
    top:5vh;
    color: white;
    font-size: 12px;
    display: block;
}

.btn-quit:hover{
    color: black;
}

}

