@media(min-width:744px) {
    .title {
        background: url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png) no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
        padding: 200px 50px 0px 50px;
        position: fixed;
        left: 0;

    }

    .title h1 {
        text-align: center;
        font-size: 50px;
        color: white;
    }

    .right {
        width: 50%;
        position: fixed;
        right: 0px;
    }


    .btn-group {
        position: fixed;
        top: 0;
        right: 10px;
        background-color: none;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 400px;
        z-index: 0;
    }

    .btn-h {
        background-color: black;
        border-radius: 20px;
        border: none;
        margin: 10px;
        padding: 5px 15px;
        font-size: 10px;
    }

    .last-bar {
        position: fixed;
        z-index: 1;
        right: 0;
        bottom: 0;
        background-color: white;
        width: 50%;
        height: 80px;
        border-top: 2px solid #F0F0F0;
    }

    .back {
        position: fixed;
        right: 540px;
        bottom: 30px;
        background-color: transparent;
        border: none;
        text-decoration: underline;
    }

    .next {
        position: fixed;
        right: 20px;
        bottom: 18px;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        background-color: #D0D0D0;
    }

    .mapic {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100vh;
        z-index: -2;
    }

    .verifyaddress {
        margin: 80px;
        width: 80vh;
        background-color: white;
        height: 100%;
        z-index: 1;
        position: absolute;
        top:0;
        overflow-y: scroll;
        border-radius: 20px;
        padding-bottom: 30vh;
    }

    ::-webkit-scrollbar {
        width: 5px;
        }

    .headline{
        display: flex;
        background-color: white;
        width: 80vh;
        height: 80px;
        position: fixed;
        z-index: 5;
        border-radius: 15px;
    }

    .form {
        padding: 20px;
        padding-top: 80px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

    }

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input.default:checked+.slider {
        background-color: #444;
    }

    input.primary:checked+.slider {
        background-color: #2196F3;
    }

    input.success:checked+.slider {
        background-color: #8bc34a;
    }

    input.info:checked+.slider {
        background-color: #3de0f5;
    }

    input.warning:checked+.slider {
        background-color: #FFC107;
    }

    input.danger:checked+.slider {
        background-color: #f44336;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .btn-good{
        position: fixed;
        z-index:5;
        bottom:80px;
        height: 15vh;
        width: 80vh;
        background-color: white;
    }
}